.product {
 margin-top: 80px;
 margin-bottom: 80px;

//  .input-group-append {
//      width: 190px;
//     flex-grow: 1;
//     flex-shrink: 1;
//     flex-basis: auto;
    .btn {
        padding-left: 55px;
        padding-right: 55px;
    }
//  }
}
